
<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Бронирование успешно</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h2 class="text-center">Спасибо за ваше бронирование!</h2>
        <p>Ваше бронирование успешно создано на дату {{ booking.booking_datetime|date:"d-m-Y H:i" }}.</p>
        <p>Статус: {{ booking.status|default:"Неизвестен" }}</p>
        <a href="{% url 'reservation_form' %}" class="button">Вернуться на главную</a>
    </div>
</body>
</html>